<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="dailyRollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>/Users/Jean/Desktop/springbootLog.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover 保存历史记录到这个文件夹一日起为后缀 -->
            <FileNamePattern>/Users/Jean/Desktop/springboot-log.%d{yyyy-MM-dd}</FileNamePattern>
            <!-- keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg %n</Pattern>
            <charset>UTF-8</charset> <!-- 此处设置字符集 -->
        </encoder>
    </appender>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        　　　　　　<encoder>
        　　　　　　　　<pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
        　　　　　　</encoder>
        　　　　　　</appender>
    <root level="DEBUG">
        <appender-ref ref="dailyRollingFileAppender"></appender-ref>
        <appender-ref ref="STDOUT" />
    </root>
</configuration>